<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head') %>
    <title>
      <%=title%>
    </title>
</head>

<body>
  <%- include('../partials/navigation') %>

    <main class="container d-flex flex-column align-items-center mt-4">
      <h1 class="">About Me</h1>
      <p class="fst-italic text-center">
        Diego Ramírez de Diego
        Soy de Puebla, México. Me motivé a ser desarrollador front-end porque siempre me ha llamado la atención crear
        cosas desde cero y me ha ayudado a mejorar mi creatividad. He realizado proyectos en los cuales he mejorado mi
        lógica de programación y también he aprendido diferentes formas de darle estilo a los proyectos.

        Me enfoqué en aprender JavaScript como mi primer lenguaje de programación, ya que se utiliza en diversas áreas
        del
        front-end. El framework que utilizo es React.js, con sus diferentes formas de darle estilo, como CSS3, Tailwind
        CSS, Sass, Bootstrap 5 y CSS Modules.

        Mi objetivo es trabajar para poner en práctica los conocimientos adquiridos en este camino de estudio en el
        desarrollo front-end y aprender nuevas técnicas de desarrollo. A largo plazo, me gustaría aprender React Native.

        Me gusta estar informado sobre las actualizaciones de los diferentes lenguajes de programación a través de las
        redes sociales.
      </p>

      <a href="/contact" class="btn btn-success w-25">Contact</a>
    </main>
</body>

</html>