<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head') %>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <%- include('../partials/navigation') %>


    <header class="container mt-5 d-flex justify-content-center align-items-center flex-column gap-4">
      <h1 class="text-white">Home</h1>
      <div class="d-flex flex-column align-items-center gap-3">
        <img src="/img/logo_diego2d.png" alt="logo_diego2d" class="w-25 rounded">
        <a href="/about" class="btn btn-primary w-25">About me</a>
      </div>
    </header>




    <!--   <%- include('../partials/navigation') %> -- FOOTER -->
</body>

</html>